<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- 日志存放路径，不要使用相对路径 -->
    <property name="log.path" value="/home/abu/logs/mdc"/>

    <!-- 日志输出格式，加上MDC链路追踪 -->
    <property name="log.pattern"
              value="%d{HH:mm:ss.SSS} [%X{traceId}] [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>

    <!--指定appender-->
    <!-- 1.控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--encoder表示对参数进行格式化，不推荐使用<layout>标签-->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 2.滚动记录debug文件 -->
    <appender name="file_debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--配置了file，则会将日志放在活动文件中-->
        <file>${log.path}/sys-debug.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--活动文件会根据fileNamePattern指定的值每隔一段时间改变一次-->
            <fileNamePattern>${log.path}/sys-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志保存最大周期（天数） -->
            <maxHistory>30</maxHistory>
            <!-- 最大日志量：在 1.1.6版本后才开始支持-->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>

        <!--ThresholdFilter会将指定level级别及其以上的都打印出来，LevelFilter可以指定拒绝和接受策略-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>DEBUG</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 3.滚动记录info文件 -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-info.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/sys-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志保存最大周期（天数） -->
            <maxHistory>30</maxHistory>
            <!-- 最大日志量：在 1.1.6版本后才开始支持-->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 4.滚动记录error文件 -->
    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-error.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/sys-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志保存最大周期（天数） -->
            <maxHistory>30</maxHistory>
            <!-- 最大日志量：在 1.1.6版本后才开始支持-->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>ERROR</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--指定根logger-->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file_debug"/>
        <appender-ref ref="file_info"/>
        <appender-ref ref="file_error"/>
    </root>

    <!-- logger用于指定系统模块某个包或者类，并将指定级别下的日志传递给ROOT标签处理。additivity表示是否将日志传递给root，默认是true-->
    <!--当前包及其子包下面的所有使用到的Logger都是使用的当前logger-->
    <logger name="com.abucloud.logbackdemo" level="debug" additivity="true"/>
    <!--如果需要打印SQL,可以把下面的级别设置为DEBUG -->
    <!--<logger name="com.heeexy.example.dao" level="DEBUG"/>-->

    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="org.springframework" level="warn"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.apache" level="WARN"/>

</configuration>